@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
    font-family: "Rubik Distressed";
}
#password {
  font-family: "Silkscreen";
  color: white;
  font-weight: 600;
  font-size: 40px;
}
#password:hover {
  color: red;
  cursor: pointer;
}
