@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
font-family: "Open Sans", sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
 text-align: center;
}
#password {
  color: black;
  font-weight: 600;
  font-size: 40px;
}
#password:hover {
  color: red;
  cursor: pointer;
}
